<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/main.css')}}"
    />
    <title>AI Works</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('index')}}">
          <img
            src="{{url_for('static',filename='images/logo_name.png')}}"
            alt=""
            width="90"
            height="90"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('index')}}"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('faceapp')}}">FaceApp</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    {% block bodyblock %} {% endblock %}

    <!--footer-->
    <footer class="footer">
      <div class="container">
        <img
          src="{{url_for('static',filename='images/logo_blue.png')}}"
          alt=""
          width="80"
          height="80"
        />
        <p align="center">
          <span style="color: white">
            copyrights AI Works All Rights Reserved
          </span>
        </p>
      </div>
    </footer>

    <style>
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #002f4d;
      }
    </style>
  </body>
</html>
