{% extends 'base.html' %} {% block bodyblock %}

<div class="container">
  <br />
  <h3 class="content">
    <span style="color: #198b90">Face Recognition</span> Application
  </h3>
  <br />
  <p class="content">
    Gender Classification: This app is driven by data and machine learning
    model. As soon as user uploads an image, the background gets converted into
    grayscale, crops the face, converts into eigen image and finally it models
    to get the prediction. All this functionality is then dumped into flask app.
  </p>
  <br />
  <img
    src="{{url_for('static',filename='images/002.png')}}"
    alt="AI WORKS"
    width="600"
    height="200"
  />
  <br />
  <div align="center">
    <a href="{{url_for('gender')}}" class="btn btn-outline-primary"
      >Try it now</a
    >
  </div>
</div>

{% endblock %}
